@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body {
    overflow-x: hidden;
    background-color: #F5F5F5;
    font-family: "Inter";
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #CBCBCB;

}

.nav-details {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-details>p {
    cursor: pointer;
}

.profile-pic {
    cursor: pointer;
}

.start-quiz-page {
    padding: 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.quiz-intro-line {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #8E8E93;
}

.quiz-intro-line>h1 {
    color: black;
}

.time-limit {
    display: flex;
    align-items: center;
    gap: 6px;
}

.content {
    border-radius: 11.842px;
    box-shadow: 0px 20px 40px 0px rgba(28, 28, 30, 0.10);
    background-color: #FEFEFE;
    padding: 24px;
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}



.catchy-intro-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.catchy-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16.917px;
}

.catchy-intro>p {
    width: 393px;
    text-align: center;
    color: #8E8E93;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.catchy-intro>h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

#start-quiz {
    border: none;
    width: 360px;
    background-color: #F3BD00;
    padding: 12px 24px;
    border-radius: 100px;
    cursor: pointer;
}